

.slider_wrapper:hover
{
    filter: brightness(80%);
}

.slider_wrapper:hover .custom_arrow {
  opacity: 1;
}


.slider_wrapper {
    width: 100%;
    margin-top: 12px;
    position: relative;

    transition: filter .3s ease 0s;
  }
  
  .slider_item {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .slider_image {
    width: 100%;
    height: auto;
    border-radius: 12px;

  }
  
  .custom_arrow {
    background-color: #fff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    border-radius: 50%;
    z-index: 2;
    padding: 12px;
    width: 36px;
    height: 36px;
    transition: background-color 0.3s;
    opacity: 0;
    transition: background-color 0.3s, opacity 0.6s;
   
  }



  
  
  .custom_arrow_right {
    right: 1.5rem;
  }
  
  .custom_arrow_left {
    left: 1.5rem;
  }

  .custom_arrow_left::before
  {
    transform: rotate(270deg);
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    background-image: url(../../../icons/slider/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }



  .custom_arrow_right::before
  {
    transform: rotate(90deg);
    content: "";
    width: 12px;
    height: 12px;
    display: block;
    background-image: url(../../../icons/slider/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  

  
  .custom_arrow:focus {
    outline: none;
  }
  
  .arrow {
    font-size: 25px;
    z-index: 50;
    top: -13px;
    position: relative;
  }

  /* Custom styles for dots */
.custom_dot_list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-left: 5px;
  }
  
  .custom_dot_list li {
    display: inline-block;
   
  }
  


  .custom_dot_list li button {
    background-color: rgba(172, 172, 172, 0.5);
    width: 4px;
    height: 4px;
    margin-bottom: 5px;
  }



  .custom_dot_list li button:hover,
  .custom_dot_list li button:focus {
    background: #ffffff; /* Color when hovered */
  }
  
  .custom_dot_list li.slick-active button {
    background: #ffffff; /* Active dot color */
  }

  

  